---
import { Icon } from 'astro-icon/components';

const today = new Date();
---

<footer>
  &copy; {today.getFullYear()} pcshen. All rights reserved.
  <a
    class='cc'
    href='https://creativecommons.org/licenses/by-nc-sa/4.0/'
    target='_blank'>CC BY-NC-SA 4.0</a
  >
  <div class='social-links'>
    <a href='https://github.com/pcshen0828' target='_blank'>
      <span class='sr-only'>Go to GitHub</span>
      <Icon name='fa6-brands:github' size='28' />
    </a>
    <a href='https://medium.com/@michelleshen0828' target='_blank'>
      <span class='sr-only'>Go to Medium</span>
      <Icon name='fa6-brands:medium' size='28' />
    </a>
    <a href='https://www.linkedin.com/in/pcshen0828/' target='_blank'>
      <span class='sr-only'>Go to LinkedIn</span>
      <Icon name='fa6-brands:linkedin' size='28' />
    </a>
  </div>
</footer>
<style>
  footer {
    padding: 2em 1em 4em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }
  .cc {
    color: rgb(var(--gray));
  }
  .cc:hover {
    color: rgb(var(--gray-dark));
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>
